<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script srs="<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>>"
    <title>API</title>
</head>
<body>
    <h3>working with api </h3>
    <h4 id="Movie_Name"></h4>
    <h4 id="Year"></h4>
    <h4 id="Cast"></h4>
    <p id="Plot"></p>










    <script>
        url = 'http://www.omdbapi.com/?t=' + title + '&apikey=78f7079e'
        
        axios.get(url).then(apiresult =>{   console.log(apiresult)
                                            console.log(apiresult.status)
                                            console.log(apiresult.statusText)
                                            console.log(apiresult.data)
                                            console.log(apiresult.data.Title)

                                            console.log(document)
                                            console.log(document.getElementById('Movie_name'))
                                            document.getElementById('Movie_name').innerHTML = "Movie Title: "+ apiResult.data.Title
                                            document.getElementById('Year').innerHTML = "Year of release "+ apiResult.data.Year
                                            document.getElementById('Cast').innerHTML = "Cast "+ apiResult.data.Cast
                                            document.getElementById('Plot').innerHTML = "<h4>Plot</h4> "+ apiResult.data.Plot
                                         
        

        axio.get('http://http://192.168.101.10:5000/api/Bootcamp/').then(myresult => {console.log(myresult.data)})
        })

    </script>
</body>
</html>